In [1]:
#!/usr/bin/env python
import snowflake.connector as c
import pandas as pd
import matplotlib.pyplot as plt
# Gets the version
ctx = c.connect(user='DEEPIKA',password='Life@123',account='go75189.us-east-2.aws')

In [2]:
sql = "SELECT * FROM BENCHPREP_DATASET.PUBLIC.TABLE3"

In [3]:
df = pd.read_sql(sql, ctx)

In [4]:
df.head()

,COURSE,USER_REGISTRATION_YEAR,ID_USER,USER_PROFILE,REGION,COURSE_LEVEL,AGE_BAND,NUM_OF_PREV_ATTEMPTS,STUDIED_CREDITS,QUALIFICATION,...,CONSULTATIONS,ATTEDANCE,TENANTS,RECOMMEND_COURSE_PRIORITY,ARE_YOU_HAPPY_WITH_COURSE,PROJECTS_IN_THE_COURSE,PROJECTS_COMPLETED,MARKS,PENDING_PROJECTS,CATEGORY
0,Artificial Intelligence,2013,117699,Professional,Norfolk,Beginner,0-35,0.0,120.0,Graduate,...,10.0,Highasbence,Unacademy,Very Low,0.0,238.0,92.0,87.0,146.0,Innovations in Investment Technology: Artifici...
1,Artificial Intelligence,2013,72400,Professional,Wales,Intermediate,0-35,0.0,120.0,Post Graduate,...,2.0,Highasbence,Vedantu,Very High,1.0,229.0,92.0,85.0,137.0,Artificial Intelligence Ethics in Action
2,Artificial Intelligence,2012,566979,Student,Cheshire,Intermediate,0-35,0.0,90.0,Graduate,...,10.0,Highasbence,Embibe,Medium,0.0,281.0,100.0,89.0,181.0,Artificial Intelligence Privacy and Convenience
3,Artificial Intelligence,2013,429099,Professional,Surrey,Intermediate,0-35,2.0,90.0,Graduate,...,21.0,Highasbence,Toppr,High,0.0,285.0,92.0,90.0,193.0,what is artificial intelligence?
4,Artificial Intelligence,2012,571921,Professional,Surrey,Intermediate,35-55,0.0,60.0,Graduate,...,28.0,Highasbence,Brainly,Low,1.0,213.0,100.0,92.0,113.0,Introduction to Artificial Intelligence (AI)

In [5]:
df.dropna(inplace = True)

In [6]:
df.shape

(26267, 30)

In [7]:
import neattext.functions as nfx

In [8]:
df['CATEGORY']

0        Innovations in Investment Technology: Artifici...
1                 Artificial Intelligence Ethics in Action
2          Artificial Intelligence Privacy and Convenience
3                         what is artificial intelligence?
4             Introduction to Artificial Intelligence (AI)
                               ...
26262                    Neural Networks and Deep Learning
26263     Sentiment Analysis with Deep Learning using BERT
26264       Deep Learning NLP: Training GPT-2 from scratch
26265    Intermediate Intelï¿½ Distribution of OpenVINO...
26266           An Introduction to Practical Deep Learning
Name: CATEGORY, Length: 26267, dtype: object

In [9]:
dir(nfx)

['BTC_ADDRESS_REGEX',
 'CURRENCY_REGEX',
 'CURRENCY_SYMB_REGEX',
 'Counter',
 'DATE_REGEX',
 'EMAIL_REGEX',
 'EMOJI_REGEX',
 'HASTAG_REGEX',
 'MASTERCard_REGEX',
 'MD5_SHA_REGEX',
 'MOST_COMMON_PUNCT_REGEX',
 'NUMBERS_REGEX',
 'PHONE_REGEX',
 'PoBOX_REGEX',
 'SPECIAL_CHARACTERS_REGEX',
 'STOPWORDS',
 'STOPWORDS_de',
 'STOPWORDS_en',
 'STOPWORDS_es',
 'STOPWORDS_fr',
 'STOPWORDS_ru',
 'STOPWORDS_yo',
 'STREET_ADDRESS_REGEX',
 'TextFrame',
 'URL_PATTERN',
 'USER_HANDLES_REGEX',
 'VISACard_REGEX',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__generate_text',
 '__loader__',
 '__name__',
 '__numbers_dict',
 '__package__',
 '__spec__',
 '_lex_richness_herdan',
 '_lex_richness_maas_ttr',
 'clean_text',
 'defaultdict',
 'digit2words',
 'extract_btc_address',
 'extract_currencies',
 'extract_currency_symbols',
 'extract_dates',
 'extract_emails',
 'extract_emojis',
 'extract_hashtags',
 'extract_html_tags',
 'extract_mastercard_addr',
 'extract_md5sha',
 'extract_numbers',
 'extract_pattern',
 'extract_phone_numbers',
 'extract_postoffice_box',
 'extract_shortwords',
 'extract_special_characters',
 'extract_stopwords',
 'extract_street_address',
 'extract_terms_in_bracket',
 'extract_urls',
 'extract_userhandles',
 'extract_visacard_addr',
 'fix_contractions',
 'generate_sentence',
 'hamming_distance',
 'inverse_df',
 'lexical_richness',
 'markov_chain',
 'math',
 'nlargest',
 'normalize',
 'num2words',
 'random',
 're',
 'read_txt',
 'remove_bad_quotes',
 'remove_btc_address',
 'remove_currencies',
 'remove_currency_symbols',
 'remove_custom_pattern',
 'remove_custom_words',
 'remove_dates',
 'remove_emails',
 'remove_emojis',
 'remove_hashtags',
 'remove_html_tags',
 'remove_mastercard_addr',
 'remove_md5sha',
 'remove_multiple_spaces',
 'remove_non_ascii',
 'remove_numbers',
 'remove_phone_numbers',
 'remove_postoffice_box',
 'remove_puncts',
 'remove_punctuations',
 'remove_shortwords',
 'remove_special_characters',
 'remove_stopwords',
 'remove_street_address',
 'remove_terms_in_bracket',
 'remove_urls',
 'remove_userhandles',
 'remove_visacard_addr',
 'replace_bad_quotes',
 'replace_currencies',
 'replace_currency_symbols',
 'replace_dates',
 'replace_emails',
 'replace_emojis',
 'replace_numbers',
 'replace_phone_numbers',
 'replace_special_characters',
 'replace_term',
 'replace_urls',
 'string',
 'term_freq',
 'to_txt',
 'word_freq',
 'word_length_freq']

In [10]:
# Clean Text:stopwords,special charac
df['clean_course_title'] = df['CATEGORY'].apply(nfx.remove_stopwords)

In [11]:
# Clean Text:stopwords,special charac
df['clean_course_title'] = df['clean_course_title'].apply(nfx.remove_special_characters)

In [12]:
df1 = df[['CATEGORY','COURSE', 'ID_USER', "TENANTS", 'REGION', 'clean_course_title']]

In [13]:
from sklearn.feature_extraction.text import CountVectorizer
# Vectorize our Text
count_vect = CountVectorizer()
cv_mat = count_vect.fit_transform(df1['clean_course_title'])

In [14]:
# Sparse
cv_mat

<26267x512 sparse matrix of type '<class 'numpy.int64'>'
	with 114592 stored elements in Compressed Sparse Row format>

In [15]:
# Dense
cv_mat.todense()

matrix([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [16]:
df_cv_words = pd.DataFrame(cv_mat.todense(),columns=count_vect.get_feature_names())

In [17]:
df_cv_words.head()

,3d,academy,accountancy,accounting,acquisition,action,administration,advanced,aggregate,aggregation,...,web,websites,wickams,win,workbench,workflow,xfactor,yellowbrick,your,zap
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
# Load ML/Rc Pkgs
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity,linear_kernel
# Cosine Similarity Matrix
cosine_sim_mat = cosine_similarity(cv_mat)

In [19]:
cosine_sim_mat

array([[1.        , 0.4472136 , 0.4472136 , ..., 0.        , 0.        ,
        0.        ],
       [0.4472136 , 1.        , 0.5       , ..., 0.        , 0.        ,
        0.        ],
       [0.4472136 , 0.5       , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.28867513,
        0.40824829],
       [0.        , 0.        , 0.        , ..., 0.28867513, 1.        ,
        0.35355339],
       [0.        , 0.        , 0.        , ..., 0.40824829, 0.35355339,
        1.        ]])

In [20]:
# Get Course ID/Index
course_indices = pd.Series(df.index,index=df1['CATEGORY']).drop_duplicates()

In [21]:
course_indices

CATEGORY
Innovations in Investment Technology: Artificial Intelligence                                   0
Artificial Intelligence Ethics in Action                                                        1
Artificial Intelligence Privacy and Convenience                                                 2
what is artificial intelligence?                                                                3
Introduction to Artificial Intelligence (AI)                                                    4
                                                                                            ...
Neural Networks and Deep Learning                                                           26262
Sentiment Analysis with Deep Learning using BERT                                            26263
Deep Learning NLP: Training GPT-2 from scratch                                              26264
Intermediate Intelï¿½ Distribution of OpenVINOï¿½ toolkit for Deep Learning Applications    26265
An Introduction to Practical Deep Learning                                                  26266
Length: 26267, dtype: int64

In [22]:
idx = course_indices

In [23]:
idx

CATEGORY
Innovations in Investment Technology: Artificial Intelligence                                   0
Artificial Intelligence Ethics in Action                                                        1
Artificial Intelligence Privacy and Convenience                                                 2
what is artificial intelligence?                                                                3
Introduction to Artificial Intelligence (AI)                                                    4
                                                                                            ...
Neural Networks and Deep Learning                                                           26262
Sentiment Analysis with Deep Learning using BERT                                            26263
Deep Learning NLP: Training GPT-2 from scratch                                              26264
Intermediate Intelï¿½ Distribution of OpenVINOï¿½ toolkit for Deep Learning Applications    26265
An Introduction to Practical Deep Learning                                                  26266
Length: 26267, dtype: int64

In [25]:
import numpy as np
scores = np.array(list(enumerate(cosine_sim_mat[idx])))

MemoryError: Unable to allocate 5.14 GiB for an array with shape (26267, 26267) and data type float64

In [ ]:
# Selected Courses Indices
selected_course_indices = [i[0] for i in scores]

In [ ]:
# Selected Courses Scores
selected_course_scores = [i[1] for i in scores]

In [ ]:
recommended_result = df1['CATEGORY'].iloc[selected_course_indices]

In [ ]:
rec_df = pd.DataFrame(recommended_result)

In [ ]:
df1.shape

In [ ]:
rec_df.shape

In [ ]:
rec_df['similarity_scores'] = selected_course_scores

In [ ]:
rec_df

In [ ]:
def recommend_course(title,num_of_rec=10):
    # ID for title
    idx = course_indices[title]
    # Course Indice
    # Search inside cosine_sim_mat
    scores = list(enumerate(cosine_sim_mat[idx]))
    # Scores
    # Sort Scores
#     sorted_scores = sorted(scores,key=lambda x:x[1],reverse=True)
    # Recomm
    selected_course_indices = [i[0] for i in scores]
    selected_course_scores = [i[1] for i in scores]
    result = df['CATEGORY'].iloc[selected_course_indices]
    rec_df = pd.DataFrame(result)
    rec_df['similarity_scores'] = selected_course_scores
    return rec_df.head(num_of_rec)

In [ ]:
recommend_course('An Introduction to Practical Deep Learning',20)