In [1]:
#!/usr/bin/env python
import snowflake.connector as c
import pandas as pd
import matplotlib.pyplot as plt
# Gets the version
ctx = c.connect(user='DEEPIKA',password='Life@123',account='go75189.us-east-2.aws')

In [2]:
sql = "SELECT * FROM BENCHPREP_DATASET.PUBLIC.TABLE3"

In [3]:
df = pd.read_sql(sql, ctx)

In [4]:
df.head()

,COURSE,USER_REGISTRATION_YEAR,ID_USER,USER_PROFILE,REGION,COURSE_LEVEL,AGE_BAND,NUM_OF_PREV_ATTEMPTS,STUDIED_CREDITS,QUALIFICATION,...,CONSULTATIONS,ATTEDANCE,TENANTS,RECOMMEND_COURSE_PRIORITY,ARE_YOU_HAPPY_WITH_COURSE,PROJECTS_IN_THE_COURSE,PROJECTS_COMPLETED,MARKS,PENDING_PROJECTS,CATEGORY
0,Artificial Intelligence,2013,117699,Professional,Norfolk,Beginner,0-35,0.0,120.0,Graduate,...,10.0,Highasbence,Unacademy,Very Low,0.0,238.0,92.0,87.0,146.0,Innovations in Investment Technology: Artifici...
1,Artificial Intelligence,2013,72400,Professional,Wales,Intermediate,0-35,0.0,120.0,Post Graduate,...,2.0,Highasbence,Vedantu,Very High,1.0,229.0,92.0,85.0,137.0,Artificial Intelligence Ethics in Action
2,Artificial Intelligence,2012,566979,Student,Cheshire,Intermediate,0-35,0.0,90.0,Graduate,...,10.0,Highasbence,Embibe,Medium,0.0,281.0,100.0,89.0,181.0,Artificial Intelligence Privacy and Convenience
3,Artificial Intelligence,2013,429099,Professional,Surrey,Intermediate,0-35,2.0,90.0,Graduate,...,21.0,Highasbence,Toppr,High,0.0,285.0,92.0,90.0,193.0,what is artificial intelligence?
4,Artificial Intelligence,2012,571921,Professional,Surrey,Intermediate,35-55,0.0,60.0,Graduate,...,28.0,Highasbence,Brainly,Low,1.0,213.0,100.0,92.0,113.0,Introduction to Artificial Intelligence (AI)

In [5]:
df.isnull().sum()

COURSE                                0
USER_REGISTRATION_YEAR                0
ID_USER                               0
USER_PROFILE                          0
REGION                                0
COURSE_LEVEL                          0
AGE_BAND                              0
NUM_OF_PREV_ATTEMPTS                  0
STUDIED_CREDITS                       0
QUALIFICATION                         0
FINAL_RESULT                          0
COURSE_REGISTRATION_IN_DAYS           0
COURSE_UNREGISTRATION_IN_DAYS         0
COURSE_PRESENT_IN_PLATFORM_IN_DAYS    0
MODULE_USED_BY_USER_IN_DAYS           0
TOTAL_NO_OF_TIMES_MODULE_OPENED       0
ACTIVITIES_ENGAGED_WRT_MODULES        0
TOTAL_CLICKS                          0
QUERIES                               0
HRABSENCE                             0
CONSULTATIONS                         0
ATTEDANCE                             0
TENANTS                               0
RECOMMEND_COURSE_PRIORITY             0
ARE_YOU_HAPPY_WITH_COURSE             0
PROJECTS_IN_THE_COURSE                0
PROJECTS_COMPLETED                    0
MARKS                                 0
PENDING_PROJECTS                      0
CATEGORY                              0
dtype: int64

In [6]:
df.columns

Index(['COURSE', 'USER_REGISTRATION_YEAR', 'ID_USER', 'USER_PROFILE', 'REGION',
       'COURSE_LEVEL', 'AGE_BAND', 'NUM_OF_PREV_ATTEMPTS', 'STUDIED_CREDITS',
       'QUALIFICATION', 'FINAL_RESULT', 'COURSE_REGISTRATION_IN_DAYS',
       'COURSE_UNREGISTRATION_IN_DAYS', 'COURSE_PRESENT_IN_PLATFORM_IN_DAYS',
       'MODULE_USED_BY_USER_IN_DAYS', 'TOTAL_NO_OF_TIMES_MODULE_OPENED',
       'ACTIVITIES_ENGAGED_WRT_MODULES', 'TOTAL_CLICKS', 'QUERIES',
       'HRABSENCE', 'CONSULTATIONS', 'ATTEDANCE', 'TENANTS',
       'RECOMMEND_COURSE_PRIORITY', 'ARE_YOU_HAPPY_WITH_COURSE',
       'PROJECTS_IN_THE_COURSE', 'PROJECTS_COMPLETED', 'MARKS',
       'PENDING_PROJECTS', 'CATEGORY'],
      dtype='object')

In [7]:
df.dropna(inplace = True)

In [8]:
df.shape

(26267, 30)

In [9]:
data = df['ID_USER']  + " " + df['COURSE'] + " " + df['USER_PROFILE'] + " " + df['REGION']  + " " + df['AGE_BAND']  + " " +  df['COURSE_LEVEL']  + " " + df['ATTEDANCE']  + " " + df['MARKS'].astype('str')  + " " + df['CATEGORY']

In [10]:
data[data.isnull() == True]

Series([], dtype: object)

In [11]:
df.tail()

,COURSE,USER_REGISTRATION_YEAR,ID_USER,USER_PROFILE,REGION,COURSE_LEVEL,AGE_BAND,NUM_OF_PREV_ATTEMPTS,STUDIED_CREDITS,QUALIFICATION,...,CONSULTATIONS,ATTEDANCE,TENANTS,RECOMMEND_COURSE_PRIORITY,ARE_YOU_HAPPY_WITH_COURSE,PROJECTS_IN_THE_COURSE,PROJECTS_COMPLETED,MARKS,PENDING_PROJECTS,CATEGORY
26262,Deep learning,2011,511271,Professional,Buckingham,Beginner,0-35,1.0,120.0,Graduate,...,2.0,Extremabsence,Vedantu,Medium,0.0,290.0,0.0,0.0,290.0,Neural Networks and Deep Learning
26263,Deep learning,2014,1890660,Professional,Norfolk,Advanced,35-55,0.0,30.0,Graduate,...,20.0,Extremabsence,Embibe,High,1.0,295.0,0.0,0.0,295.0,Sentiment Analysis with Deep Learning using BERT
26264,Deep learning,2013,623917,Student,Scotland,Beginner,35-55,0.0,120.0,Graduate,...,2.0,Extremabsence,Toppr,Low,1.0,269.0,14.0,51.0,255.0,Deep Learning NLP: Training GPT-2 from scratch
26265,Deep learning,2014,688822,Professional,Norfolk,Beginner,35-55,0.0,30.0,Graduate,...,2.0,Extremabsence,Brainly,Very Low,1.0,260.0,10.0,58.0,250.0,Intermediate Intelï¿½ Distribution of OpenVINO...
26266,Deep learning,2014,698019,Professional,Buckingham,Advanced,0-35,0.0,30.0,Graduate,...,20.0,Extremabsence,Class Plus,Very High,0.0,277.0,0.0,0.0,277.0,An Introduction to Practical Deep Learning

In [12]:
data

0        117699 Artificial Intelligence Professional No...
1        72400 Artificial Intelligence Professional Wal...
2        566979 Artificial Intelligence Student Cheshir...
3        429099 Artificial Intelligence Professional Su...
4        571921 Artificial Intelligence Professional Su...
                               ...
26262    511271 Deep learning Professional Buckingham 0...
26263    1890660 Deep learning Professional Norfolk 35-...
26264    623917 Deep learning Student Scotland 35-55 Be...
26265    688822 Deep learning Professional Norfolk 35-5...
26266    698019 Deep learning Professional Buckingham 0...
Length: 26267, dtype: object

In [13]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

In [14]:
# Define a tfidf vectorizer and remove all stopwords.
tfidf = TfidfVectorizer(stop_words="english")
#Convert tfidf matrix by fitting and transforming the data.
tfidf_matrix = tfidf.fit_transform(data)
# output the shape of the matrix.
tfidf_matrix.shape

(26267, 24161)

In [15]:
# calculating the cosine similarity matrix.
cosine_sim = linear_kernel(tfidf_matrix,tfidf_matrix)

In [16]:
cosine_sim

array([[1.        , 0.24512311, 0.23700184, ..., 0.01424572, 0.05357369,
        0.01523063],
       [0.24512311, 1.        , 0.25913113, ..., 0.00322021, 0.02244721,
        0.01581991],
       [0.23700184, 0.25913113, 1.        , ..., 0.01180487, 0.0131768 ,
        0.00393311],
       ...,
       [0.01424572, 0.00322021, 0.01180487, ..., 1.        , 0.23976806,
        0.27548208],
       [0.05357369, 0.02244721, 0.0131768 , ..., 0.23976806, 1.        ,
        0.27195723],
       [0.01523063, 0.01581991, 0.00393311, ..., 0.27548208, 0.27195723,
        1.        ]])

In [17]:
tfidf.get_feature_names()

['10',
 '100',
 '100282',
 '100561',
 '100621',
 '1006742',
 '100788',
 '1008675',
 '100893',
 '101116',
 '101217',
 '101279',
 '101306',
 '101634',
 '1017773',
 '1018682',
 '1018685',
 '102067',
 '1021350',
 '102209',
 '102221',
 '102343',
 '1023623',
 '1026777',
 '102806',
 '102850',
 '102952',
 '1031884',
 '1033968',
 '103496',
 '1035023',
 '103535',
 '103800',
 '1038161',
 '103891',
 '103904',
 '103998',
 '1040037',
 '104054',
 '104213',
 '1042726',
 '104316',
 '1044992',
 '1045091',
 '1045203',
 '104643',
 '104772',
 '1049036',
 '105125',
 '105168',
 '1053702',
 '105413',
 '1054876',
 '105523',
 '105527',
 '1057883',
 '105851',
 '105883',
 '105939',
 '106095',
 '106247',
 '106383',
 '106553',
 '106577',
 '106588',
 '106690',
 '106793',
 '1068316',
 '107028',
 '107084',
 '1072259',
 '1073372',
 '107339',
 '1073766',
 '107455',
 '1076015',
 '107713',
 '1078701',
 '107883',
 '1080206',
 '108118',
 '1082062',
 '108207',
 '108281',
 '108330',
 '108377',
 '108497',
 '108565',
 '108589',
 '108760',
 '1087710',
 '108789',
 '108799',
 '108834',
 '108859',
 '108872',
 '108949',
 '1090738',
 '1091274',
 '109155',
 '109441',
 '109577',
 '1095916',
 '1097354',
 '109772',
 '109782',
 '1098728',
 '109938',
 '11',
 '1100639',
 '1101190',
 '110175',
 '110200',
 '1103608',
 '110461',
 '110524',
 '110529',
 '1105438',
 '1105478',
 '1105628',
 '110640',
 '1106724',
 '1107079',
 '110789',
 '110820',
 '110881',
 '110911',
 '111113',
 '1112555',
 '111360',
 '111512',
 '111548',
 '1115623',
 '111678',
 '111717',
 '1118218',
 '1118284',
 '1118432',
 '111926',
 '111942',
 '111959',
 '112245',
 '112441',
 '112454',
 '1127413',
 '113295',
 '113565',
 '113698',
 '113702',
 '113824',
 '11391',
 '114367',
 '114402',
 '114500',
 '114999',
 '115373',
 '115452',
 '116174',
 '116290',
 '116319',
 '116499',
 '116518',
 '116529',
 '116541',
 '116603',
 '116606',
 '116631',
 '116692',
 '116763',
 '1170618',
 '117071',
 '117197',
 '117232',
 '117281',
 '1173473',
 '117435',
 '117544',
 '117545',
 '117550',
 '117699',
 '117818',
 '117862',
 '117939',
 '117969',
 '118050',
 '118098',
 '118176',
 '118213',
 '1183831',
 '118474',
 '118578',
 '118668',
 '1187586',
 '118877',
 '118887',
 '118983',
 '119310',
 '119353',
 '119437',
 '119444',
 '119471',
 '1197062',
 '119729',
 '119865',
 '119898',
 '119902',
 '12',
 '120236',
 '120611',
 '1209065',
 '120994',
 '120999',
 '121000',
 '121163',
 '121182',
 '121349',
 '121390',
 '121574',
 '122337',
 '122392',
 '122459',
 '122524',
 '122636',
 '122739',
 '122846',
 '122928',
 '123044',
 '123053',
 '123087',
 '123183',
 '123270',
 '123462',
 '123497',
 '123598',
 '123716',
 '123860',
 '123957',
 '124006',
 '124018',
 '124064',
 '124124',
 '124134',
 '124193',
 '124304',
 '124379',
 '124387',
 '124711',
 '124728',
 '124909',
 '124944',
 '125018',
 '125055',
 '125063',
 '1253440',
 '125407',
 '125535',
 '125777',
 '125830',
 '125874',
 '125996',
 '126074',
 '126088',
 '126322',
 '126337',
 '126394',
 '126395',
 '126411',
 '126450',
 '126608',
 '126713',
 '126769',
 '126800',
 '126812',
 '1268696',
 '1268772',
 '126912',
 '1270832',
 '127179',
 '127580',
 '127582',
 '127642',
 '127988',
 '128072',
 '128132',
 '128142',
 '128348',
 '128386',
 '128510',
 '128656',
 '128678',
 '128723',
 '128776',
 '128791',
 '128817',
 '128929',
 '128965',
 '128968',
 '128971',
 '129198',
 '129212',
 '129638',
 '129878',
 '129955',
 '129989',
 '13',
 '130003',
 '130013',
 '130034',
 '1301103',
 '130409',
 '130467',
 '130547',
 '130636',
 '130658',
 '130671',
 '1307784',
 '130837',
 '130992',
 '131051',
 '1311171',
 '131145',
 '131152',
 '131222',
 '131235',
 '131314',
 '131390',
 '131538',
 '131597',
 '131609',
 '131612',
 '131663',
 '131695',
 '131776',
 '131820',
 '131933',
 '1319732',
 '1319999',
 '132123',
 '132157',
 '132191',
 '132401',
 '132423',
 '132453',
 '132477',
 '132511',
 '132626',
 '132924',
 '132932',
 '132972',
 '132976',
 '133019',
 '133068',
 '133104',
 '133155',
 '133185',
 '1332356',
 '1332514',
 '1332999',
 '133322',
 '133365',
 '133419',
 '133531',
 '1336190',
 '1337055',
 '133718',
 '133748',
 '133816',
 '1338955',
 '133922',
 '134025',
 '1340760',
 '1340766',
 '1341096',
 '134123',
 '134143',
 '1341507',
 '134188',
 '134190',
 '134212',
 '134243',
 '134260',
 '134336',
 '134578',
 '1345808',
 '1347198',
 '134721',
 '1347253',
 '1347447',
 '134847',
 '134920',
 '134982',
 '135075',
 '1351739',
 '1352868',
 '135330',
 '135331',
 '135335',
 '135385',
 '135400',
 '135471',
 '1355699',
 '135763',
 '135792',
 '1359554',
 '135999',
 '1360878',
 '1360953',
 '136135',
 '136335',
 '136793',
 '136894',
 '136944',
 '137150',
 '137281',
 '1375851',
 '137603',
 '1380308',
 '138204',
 '1382719',
 '138289',
 '138407',
 '138416',
 '1384882',
 '138704',
 '138709',
 '138710',
 '138715',
 '138861',
 '138920',
 '138997',
 '1390051',
 '139033',
 '1391717',
 '139190',
 '1392016',
 '139250',
 '139278',
 '139329',
 '1393589',
 '139455',
 '139549',
 '139701',
 '139843',
 '1399285',
 '1399314',
 '139949',
 '14',
 '140060',
 '140108',
 '1401935',
 '1402638',
 '140518',
 '1405453',
 '1406920',
 '140719',
 '140807',
 '140866',
 '1409532',
 '1410398',
 '1411627',
 '141301',
 '1413027',
 '141355',
 '141377',
 '1413989',
 '141430',
 '1414443',
 '141497',
 '141506',
 '141823',
 '141827',
 '141949',
 '1419671',
 '1420537',
 '1420575',
 '142092',
 '1421720',
 '1422737',
 '142310',
 '142324',
 '142326',
 '1424608',
 '142819',
 '1428865',
 '1429504',
 '142990',
 '1430804',
 '1431750',
 '1432518',
 '143350',
 '1436558',
 '1436591',
 '143711',
 '143741',
 '143854',
 '1438584',
 '1439723',
 '1440341',
 '1442215',
 '1442706',
 '1442981',
 '1442991',
 '1444520',
 '144562',
 '1446954',
 '144745',
 '144747',
 '144895',
 '1448966',
 '144908',
 '144923',
 '1449245',
 '144959',
 '145114',
 '145130',
 '145188',
 '145280',
 '145282',
 '1453140',
 '1453691',
 '145388',
 '145490',
 '145544',
 '1455474',
 '145578',
 '145640',
 '1456619',
 '1457691',
 '145770',
 '1459010',
 '146089',
 '146125',
 '146165',
 '146188',
 '146192',
 '1462676',
 '146455',
 '146485',
 '146503',
 '1465407',
 '1465690',
 '146600',
 '146651',
 '146666',
 '146679',
 '1467014',
 '146738',
 '1468838',
 '146943',
 '146974',
 '1470291',
 '1470552',
 '1471214',
 '1472925',
 '147307',
 '147328',
 '1473878',
 '1474903',
 '147675',
 '147715',
 '1477284',
 '147756',
 '147793',
 '1478030',
 '147876',
 '1478775',
 '148008',
 '1480800',
 '1482413',
 '148282',
 '148328',
 '1483632',
 '1483814',
 '148414',
 '148427',
 '1484804',
 '1485105',
 '148515',
 '1485702',
 '1486048',
 '1487084',
 '1488959',
 '148993',
 '1490624',
 '149178',
 '1491894',
 '1492408',
 '1493476',
 '1493739',
 '1494577',
 '149567',
 '149693',
 '149741',
 '1497480',
 '1497822',
 '1498823',
 '1498979',
 '149962',
 '149964',
 '15',
 '1500410',
 '1500950',
 '150121',
 '1501577',
 '1502193',
 '150282',
 '1503056',
 '150398',
 '150578',
 '1507503',
 '1508708',
 '1509881',
 '1511033',
 '1512332',
 '1513001',
 '151358',
 '1514245',
 '151465',
 '151549',
 '151587',
 '1516666',
 '151697',
 '151745',
 '151800',
 '151917',
 '152153',
 '1521687',
 '152320',
 '152428',
 '1525567',
 '1526210',
 '152626',
 '152668',
 '152671',
 '1526770',
 '1527616',
 '1528232',
 '152867',
 '152929',
 '1529371',
 '1529458',
 '152973',
 '1530521',
 '153110',
 '1531649',
 '153170',
 '153212',
 '1532711',
 '1532840',
 '1533277',
 '1534560',
 '1534854',
 '153611',
 '1536122',
 '1536138',
 '1536591',
 '1536774',
 '153704',
 '1537673',
 '1537796',
 '153788',
 '154011',
 '154027',
 '154057',
 '154059',
 '154073',
 '1541133',
 '154125',
 '1541472',
 '1541906',
 '154191',
 '154540',
 '154697',
 '1547646',
 '1548052',
 '1549107',
 '155067',
 '155158',
 '1551895',
 '1552044',
 '155256',
 '155298',
 '1554143',
 '155484',
 '155550',
 '155631',
 '155735',
 '1558539',
 '155854',
 '1559428',
 '155956',
 '155963',
 '155984',
 '1560989',
 '156127',
 '1561431',
 '156171',
 '1561750',
 '1562320',
 '156311',
 '1563203',
 '156358',
 '1563696',
 '1564630',
 '1564706',
 '156594',
 '1567505',
 '156783',
 '156788',
 '156835',
 '1568828',
 '1569426',
 '157060',
 '157225',
 '157276',
 '157298',
 '157308',
 '157310',
 '1573624',
 '157568',
 '157647',
 '157752',
 '157795',
 '1578222',
 '1580084',
 '1581243',
 '1583847',
 '1584449',
 '158575',
 '1585768',
 '158611',
 '158708',
 '1587816',
 '1587817',
 '1588208',
 '158831',
 '1588621',
 '1589066',
 '1591013',
 '1591864',
 '1592048',
 '159287',
 '159293',
 '1593442',
 '1593730',
 '1594621',
 '159484',
 '159571',
 '159596',
 '159906',
 '159925',
 '159947',
 '159954',
 '16',
 '160026',
 '1601739',
 '160181',
 '160193',
 '160262',
 '160300',
 '1603549',
 '160401',
 '160472',
 '160479',
 '160536',
 '160720',
 '1609002',
 '160934',
 '160945',
 '160946',
 '1610188',
 '1611842',
 '1611973',
 '1612600',
 '1614181',
 '161491',
 '161658',
 '161678',
 '161781',
 '1618172',
 '1618738',
 '161878',
 '1619251',
 '1620151',
 '1620593',
 '1621041',
 '1622020',
 '162210',
 '1622944',
 '162337',
 '1623795',
 '1624025',
 '1624443',
 '1624707',
 '1625718',
 '1626021',
 '1626418',
 '162646',
 '162650',
 '1627017',
 '1627071',
 '162809',
 '1629771',
 '162984',
 '163067',
 '163120',
 '1631797',
 '1632487',
 '163332',
 '1633695',
 '1634278',
 '1636725',
 '1638425',
 '1638548',
 '163962',
 '1639699',
 '163996',
 '1640680',
 '1640773',
 '1641117',
 '164211',
 '164259',
 '1644266',
 '1644328',
 '164451',
 '1644568',
 '1644647',
 '1646172',
 '164708',
 '164922',
 '164935',
 '164944',
 '164968',
 '165099',
 '1651020',
 '1651198',
 '165178',
 '165226',
 '165243',
 '165376',
 '165509',
 '165647',
 '1656486',
 '1656527',
 '1656979',
 '165733',
 '165806',
 '165823',
 '1658963',
 '165898',
 '165904',
 '1659662',
 '166123',
 '1661490',
 '166160',
 '166183',
 '166327',
 '1663815',
 '1664171',
 '166421',
 '1664280',
 '1664920',
 '166607',
 '1667087',
 '166713',
 '1667346',
 '1668372',
 '1668504',
 '166988',
 '167106',
 '1671208',
 '1671761',
 '1671811',
 '1672690',
 '1673876',
 '1674799',
 '1674804',
 '167557',
 '1676594',
 '167717',
 '167759',
 '167791',
 '1678014',
 '1678401',
 '1678445',
 '1678800',
 '167906',
 '167945',
 '167961',
 '1679727',
 '1679862',
 '168178',
 '1681946',
 '168243',
 '1683192',
 '1684787',
 '1686521',
 '1686551',
 '1687996',
 '168843',
 '1689081',
 '168936',
 '1689639',
 '1689730',
 '169008',
 '169079',
 '1691815',
 '169213',
 '169297',
 '169380',
 '169400',
 '1694780',
 '169490',
 '169515',
 '169555',
 '1695710',
 '169596',
 '1696174',
 '169700',
 '169858',
 '169894',
 '169908',
 '1699264',
 '17',
 '170025',
 '170030',
 '1700371',
 '170165',
 '170356',
 '170874',
 '170936',
 '170943',
 '171304',
 '171334',
 '1713615',
 '171377',
 '1715237',
 '171549',
 '1716492',
 '171692',
 '171751',
 '171843',
 '171896',
 '1719114',
 '1719566',
 '1720448',
 '1721270',
 '172137',
 '1721462',
 '1721891',
 '172301',
 '1723019',
 '1723564',
 '1723749',
 '172493',
 '1726951',
 '1728437',
 '1729319',
 '172965',
 '1729833',
 '173004',
 '1730611',
 '1730702',
 '1731564',
 '173163',
 '1732219',
 '1732956',
 '1733023',
 '173316',
 '1733160',
 '173335',
 '173341',
 '173370',
 '173412',
 '1734156',
 '1735651',
 '1735653',
 '173710',
 '173834',
 '1738364',
 '174010',
 '174024',
 '1741838',
 '174222',
 '174436',
 '174440',
 '174468',
 '1744800',
 '174487',
 '1745145',
 '1746134',
 '174745',
 '1747824',
 '1747892',
 '174805',
 '1750405',
 '1752098',
 '1752834',
 '1753235',
 '1753965',
 ...]

In [18]:
#Construct a reverse map of indices and movie titles
indices = pd.Series(df.index, index=df['CATEGORY']).drop_duplicates()

In [19]:
indices

CATEGORY
Innovations in Investment Technology: Artificial Intelligence                                   0
Artificial Intelligence Ethics in Action                                                        1
Artificial Intelligence Privacy and Convenience                                                 2
what is artificial intelligence?                                                                3
Introduction to Artificial Intelligence (AI)                                                    4
                                                                                            ...
Neural Networks and Deep Learning                                                           26262
Sentiment Analysis with Deep Learning using BERT                                            26263
Deep Learning NLP: Training GPT-2 from scratch                                              26264
Intermediate Intelï¿½ Distribution of OpenVINOï¿½ toolkit for Deep Learning Applications    26265
An Introduction to Practical Deep Learning                                                  26266
Length: 26267, dtype: int64

In [20]:
def create_similarity_matrix(new_description, overall_descriptions):
#Append the new description to the overall set.
        overall_descriptions.append(new_description)
        # Define a tfidf vectorizer and remove all stopwords.
        tfidf = TfidfVectorizer(stop_words="english")
        #Convert tfidf matrix by fitting and transforming the data.
        tfidf_matrix = tfidf.fit_transform(overall_descriptions)
        # output the shape of the matrix.
        tfidf_matrix.shape
        # calculating the cosine similarity matrix.
        cosine_sim = linear_kernel(tfidf_matrix,tfidf_matrix)
        return cosine_sim

In [21]:
def get_recommendations(new_description,overall_descriptions):
    # create the similarity matrix
    cosine_sim = create_similarity_matrix(new_description,overall_descriptions)
    # Get pairwise similarity scores of all the students with new student.
    sim_scores = list(enumerate(cosine_sim[-1]))
    # Sort the descriptions based on similarity score.
    sim_scores = sorted(sim_scores,key =lambda x:x[1],reverse= True )
    # Get the scores of top 10 descriptions.
    sim_scores = sim_scores[1:10]
    # Get the student indices.
    indices = [i[0]for i in sim_scores]
    return df['CATEGORY'].iloc[indices]

In [22]:
new_description = pd.Series(data[0])

In [23]:
new_description

0    117699 Artificial Intelligence Professional No...
dtype: object

In [24]:
data[0]

'117699 Artificial Intelligence Professional Norfolk 0-35 Beginner Highasbence 87.0 Innovations in Investment Technology: Artificial Intelligence'

In [25]:

d1 = get_recommendations(new_description,data)

MemoryError: Unable to allocate 5.14 GiB for an array with shape (26267, 26267) and data type float64

In [ ]:
d1